
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    font-family:Arial, Helvetica, sans-serif;
    --bGreen: #088178;
    --lGreen: #E3E6F3;
    --lGray: #E3E6F3;
    --dYellow: #F3B519 ;
    --dBlue: #041E42;

    --darkBody: #1E1E1E ;
    --darkMode: #302f2f ;
}



body, html{
    position: relative;
    overflow-x : hidden ;
}

/* sticky navbar over all when scroll */
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
} */


/* dark mode section */

.darkBody{
    background-color: var(--darkBody) !important;
    color: white;
    transition: all 1s linear;
    transition-timing-function: ease-out;
}

.darkness{
    filter: brightness(0.8);
}

.darkMode{
    background-color: var(--darkMode);
    border: 1px solid var(--lGray);
    transition: all 1s;
}


.darkForm{
    background: var(--darkMode) !important;
    color: white !important;
    transition: all 1s;
}

.navbar-dark, .bg-dark{
    transition: all 1s;

}


.pCardShadoL:hover{
    box-shadow: 0 1rem 1rem rgba(0,0,0,.15);
}


.pCardShadoD:hover{
    box-shadow: 0 1rem 1rem rgba(228, 227, 227, 0.15);
    transition: all 0s;
}















/* navbar line */


.navbar-expand-lg{
    background-color: var(--lGray) ;

}



.navLine .active{
    color: var(--bGreen) !important;
}



.navLinks .Cart, .darkTogle{
    cursor: pointer;
}



.navLinks .cartN{
    position: absolute;
    top: -5px;

    background-color: var(--bGreen);
    color: white;
    padding: 0% 4px;
    border-radius: 5px;
}



.navLinks a{
    position: relative;
    padding-left: 0px !important;
}



.navLinks .active::after{
    content: " ";
    position: absolute;
    bottom: 2px;
    left:0px;
    background-color: var(--bGreen);
    height: 3px;
    width: 30px;
}



@media (min-width: 992px) and (max-width: 1200px){
    .order-xl-1 {
        order: 1!important;
    }
}







/* section Tow Header  */


@media (max-width: 991px){
    .HeaderBg {
        height: 93vh;
        background-color: var(--lGray);
        /* background-position: left; */
        /* background-size: cover; */
    }   
}


@media (min-width: 992px){
    .HeaderBg {
        height: 100vh;
        background-image: url(../Images/hero5.png);
        background-color: var(--lGray);
        background-position: center;
        background-size: cover;  
    }   
}


@media (max-width: 991px){
    .HeaderBg .TradeIn {
        height: 93vh;
    }   
}


@media (min-width: 992px){
    .HeaderBg .TradeIn {
        height: 100vh;
    }   
}








.HeaderBg .allProducts{
    color: var(--bGreen);
}



.HeaderBg .shopNow{
    background-image: url(../Images/button.png);
    background-position: center;
    background-size: cover;

    width: 227px;
    height: 50px;
    color: var(--bGreen) ;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 12px;

}



/* cart section */
.myCart{
    height: 700px;
    width: 400px;
    background-color: var(--bGreen);
    opacity: 95%;
    color: white;

    position: absolute;

    display: none;
    animation-name: cartMoveIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    z-index: 3;
    overflow-y: auto;
}


.myCart button:focus{
    box-shadow: none;
}



.close{
    animation-name: cartMoveOut;
    animation-duration: 1s;
    animation-iteration-count: 1;

    display: none;
    transition: all 2s;
}



@keyframes cartMoveIn {
    from {right: -400px;}
    to {right: 0px;}
}


@keyframes cartMoveOut {
    from {right: 0px;}
    to {right: -400px;}
}



.cartAddItems{
    overflow-y: auto;
    height: 480px;
}



.removeItem, .decrease, .increase{
    cursor: pointer;
}

.quantaty{
    padding-left: 5px;
    padding-right: 5px;
}


.cartProduct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}


.cartProduct img{
    border-radius: 15px;

}







/* section Three Services */

.Services .Service-1 button{
    background-color: #FDDDE4 ;
}



.Services .Service-2 button{
    background-color: #CDEBBC ;
}



.Services .Service-3 button{
    background-color: #D1E8F2 ;
}


.Services .Service-4 button{
    background-color: #CDD4F8 ;
}


.Services .Service-5 button{
    background-color: #F6DBF6 ;
}


.Services .Service-6 button{
    background-color: #FFF2E5 ;
}











/* section Four Featured Products */

.fProducts .pCard, .oImg{
    border-radius: 30px;
}




.fProducts .stars{
    color: var(--dYellow);
}



.fProducts .price {
    color: var(--bGreen);
    
}


.fProducts .fa-cart-shopping{
    background-color: var(--lGreen);
    width: 45px;
    height: 45px;

    border: 1px solid var(--lGreen);
    border-radius: 50px;
    text-align: center;
    padding: 12px 0px;

    color: var(--bGreen);
    cursor: pointer;
}






/* .fProducts .pCard:hover{
    transform: scale(1.1, 1.1);
} */

.fProducts .oImg:hover{
    padding: 0% !important;
    transition: 0.5s;
}



.fProducts .price:hover{
    font-weight: bold;
    transition: 1s;
}


.fProducts .fa-cart-shopping:hover{
    font-size: 29px;
    transition: 0.5s;
}









/* section Five Repair Services */

.sectionFive{
    background-image: url(../Images/b2.jpg);
    background-position: center;
    background-size: cover;
    height: 280px;
}




.sectionFive .repairS{
    height: 280px;
}










/* section sevin deals & summer */

.section7 .crazyD{
    height: 330px;
    background-image: url(../Images/b17.jpg);
    background-position: center;
    background-size: cover;
}


.section7 .springD{
    height: 330px;
    background-image: url(../Images/b10.jpg);
    background-position: center;
    background-size: cover;
}



@media (min-width: 992px){
.section7 .crazyD, .section7 .springD {
    width: 49%;
}}









/* section sevin Seasonal  & Footwear Collection */

.section7 .Seasonal{
    height: 220px;
    background-image: url(../Images/b7.jpg);
    background-position: center;
    background-size: cover;
}



.section7 .Footwear{
    height: 220px;
    background-image: url(../Images/b4.jpg);
    background-position: center;
    background-size: cover;
}



.section7 .T-Shirts{
    height: 220px;
    background-image: url(../Images/b18.jpg);
    background-position: center;
    background-size: cover;
}


@media (min-width: 992px){
    .section7 .Seasonal, .section7 .Footwear, .section7 .T-Shirts {
        width: 49%;
    }}













    /* section Eight Newsletters */

    .Newsletters{
        background-color: var(--dBlue);
    }


    .Newsletters .news{
        background-image: url(../Images/b14.png);
        background-position:right;
        background-size: cover;
    }


    .Newsletters p{
        color: #7A93A0;
    }


    .Newsletters a{
        color: var(--dYellow);
    }


    .Newsletters button{
        background-color: var(--bGreen);
        color: white;
    }















    /* section last Footer */

    .LastSec a{
        text-decoration: none;
    }


    .LastSec .Contact, .followUs a{
        color: var(--bGreen);
    }


    .LastSec .Contact h6{
        font-size: 15px;
    }

    .LastSec .store img{
        border: 2px solid var(--bGreen);
        border-radius: 10px;
    }



    